{% extends 'base.html' %}

{% block title %}Sales History - SistemaPOS{% endblock %}

{% block content %}
<div class="container">
    <h2>Sales History</h2>
    <div class="sales-history-content">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Accion</th>                    
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                    <tr>
                        <th scope="row">{{ sale[0] }}</th>
                        <td>{{ sale[3] }}</td>
                        <td>{{ sale[1] }}</td>
                        <td>{{ sale[2] }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saleDetailsModal{{ sale[0] }}">
                                Details
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Sale Details Modals -->
        {% for sale in sales %}
        <div class="modal fade" id="saleDetailsModal{{ sale[0] }}" tabindex="-1" aria-labelledby="saleDetailsModalLabel{{ sale[0] }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saleDetailsModalLabel{{ sale[0] }}">Sale Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Date: {{ sale[1] }}</h6>
                        <h6>Total: {{ sale[2] }}</h6>
                        <h6>Products:</h6>
                        <ul>
                            {% for product in sale[3] %}
                                <li>{{ product[0] }} - {{ product[1] }} - Quantity: {{ product[2] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
</div>